.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  margin-left: 11%;
  .pos-terminal:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .pos-terminal {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);

    border-radius: 7px;
    width: 50%;
    height: 60%;
    background-color: #e7f4f9;
    background-image: url("../img/pos-terminal.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 45%;
    .content-1 {
      h3 {
        margin-bottom: 5%;
      }
      p {
        margin-bottom: 10%;
      }
      margin-top: 3%;
      margin-left: 3%;
    }
  }
  .credit-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  .credit-card {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    width: 50%;
    height: 60%;
    background-color: #ffebf0;
    background-image: url("../img/business-cards.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 45%;
    margin-left: 2%;
    .content-2 {
      h3 {
        margin-bottom: 5%;
      }
      p {
        margin-bottom: 16%;
      }
      margin-top: 3%;
      margin-left: 3%;
    }
  }
}

.bizz-info {
  margin-left: 11.1%;
  margin-bottom: 3%;
  font-family: Light;
}
