@import "_header.scss";
@import "_carousel.scss";
@import "_fonts.scss";
@import "_lilandmiddle.scss";
@import "_stuff-to-help-your-bizz";
@import "_button.scss";
@import "_stuff-to-help-you-financially.scss";
@import "_about-bank-functions.scss";
@import "_common.scss";
@import "_monthly-packages.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Responsive-navbar {
  display: none;
}
@media only screen and (max-width: 770px) {
  .Responsive-navbar {
    display: block;
  }
  header .container-1 ul {
    display: none;
  }
}
